<!-- Menu Top Sản phẩm -->	
<link rel="stylesheet" href="../css/style.css">

<div class="menu_top">
    <div class="logo">  <!-- ảnh logo shop  -->
    <div class="anh_logo"><a href="trang-chu.html"><img src="../images/images_html/Capture.png" style="height:60px; border-bottom-left-radius: 5px;"></a></div>
    </div>
    <ul>
        <li><a href="trang-chu.html">Trang Chủ</a></li>
        <li><a href="san-pham-moi.html">Sản Phẩm Mới</a></li>
        <li><a href="tin-tuc.html">Tin Tức</a></li>
        <li><a href="gioi-thieu.html">Giới Thiệu</a></li>
        <li><a href="lien-he.html">Liên Hệ</a></li>
        <li><a href="ban-do.html">Bản Đồ</a></li>
        <li><a href="huong-dan-mua-hang.html">Mua Hàng</a></li>
    </ul>
<script type="text/javascript">
    $(document).ready(function(){
        $(".zoom1").cycle({ 
            fx:    'box', 
            sync:  false, 
            delay: -2000 
        });
    });
</script>

</div>




