<link rel="stylesheet" href="../css/style.css">

<div class="box4">
    <div class="sp"><p style="color:#000000; text-align:left; line-height:30px; font-weight:bold; font-size: 16px">
        Loại sản phẩm như nón các kiểu
    </p></div>
    <div style="margin: 0 0 0 21.3%;border:0 0 0 0;background-color:#000000">
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">xxxxVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">xVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">xxVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">xyzVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">zxzVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="box_sp"><a href=""><img src="../images\images_sp\aerobill-legacy91-training-hat-1TrTBz.jpg" style=" width:173px; height:216px;"><p style="text-align:center; padding-top: 10px; padding-right: 30px;height:15px"></p></a>
            <br/>
            <p style="color:#CC0000; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">xyxVND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        <div class="x" style="clear:both;float:right;margin-right:50px; padding-bottom: 20px; width: 50px; height: 5px; display: inline-block; overflow: hidden">
        <a class="page" href=""></a>
        </div>
        </div>
    </div>
    
        