<link rel="stylesheet" href="../css/style.css">

<div class="box5">
    <div class="sp"><p style="color:#000000; text-align:left; line-height:30px; font-weight:bold; font-size: 16px">
        SẢN PHẨM MỚI
    </p></div>
    
    <div class="box_sp"><a href=""><img src="" style=" width:173px; height:216px;"><p style="text-align:center;padding-top: 10px;padding-right: 30px; height:15px"></p></a>
            <br/>
            <p style="color:#FF9933; text-align:center; padding-right: 30px">Giá:<span style="font-weight:bold">VND</span></p>
            <p style="color:#696969; text-align:center; padding-right: 30px">Đã bán: 1K+</p>
        </div>
        
    </div>
        